/Algoritmos/BubbleSort/nbproject/private/
/Algoritmos/BubleSort/nbproject/private/
.DS_Store
/Algoritmos/InsertionSort/nbproject/private/
/Algoritmos/InsertionSort/build/
/Algoritmos/Testeos/nbproject/private/
/Algoritmos/Variables/nbproject/private/
/Algoritmos/Java SE/nbproject/private/
/Algoritmos/Java SE/build/
